/* Common style Start */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --theme:#e43a47;
    --gray: #efefef;
    --black:#000;
    --buttonColor:#2E94E3;
}

html {
    scroll-behavior: smooth;
}

button, body {
    font-family: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 14px;
    line-height: 26px;
}

.fullContainer {
    width: 100%;
}

.container {
    width: 1140px;
    margin: auto;
}

.sectionTitle {
    width: 300px;
    border-bottom: 3px solid var(--theme);
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
    margin: 0 auto 50px;
    position: relative;
    padding: 10px 0;
    text-transform: uppercase;
}

.sectionTitle::after {
    display: inline-block;
    content: "";
    height: 15px;
    width: 15px;
    background-color: var(--theme);
    position: absolute;
    left: calc(50% - 10px);
    top: calc(75% - 7px);
    transform: rotate(45deg) translate(50%, 50%);
    border: 3px solid #fff;
}

section {
    padding: 60px 0;
    position: relative;
}

/* Common style End */

/* home style start */
header {
    width: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    z-index: 2;
    position: fixed;
}

header .container {
    display: flex;
    justify-content: space-between;
}

header .container .logo img {
    height: 65px;
    width: 100px;
    display: inline-block;
    height: 75px;
    line-height: 75px;
    padding: 0 15px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    color: #fff;
    transition: 0.3s;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    display: inline-block;
    height: 75px;
    line-height: 75px;
    padding: 0 15px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    color: #fff;
    transition: 0.3s;
}

header nav ul li a:hover {
    background-color: var(--theme);
}

.banner {
    min-height: 100vh;
    width: 100%;
    background-image: url("../img/gallery/img10.jpg");
    background-size: cover;
    background-attachment: relative;
}

.banner h1 {
    margin-top: 230px;
    display: inline-block;
    font-size: 3.5rem;
    color: #fff;
    text-shadow: 0 0 2px var(--black);
    width: 50%;
    line-height: 4.2rem;
    font-weight: 100;
}

.banner h1 span {
    background-color: var(--theme);
    display: inline-block;
    line-height: 3.5rem;
    padding: 0 15px;
    font-weight: 600;
    border-radius: 5px;
}

.banner p {
    color: #fff;
    width: 50%;
    text-shadow: 0 0 2px var(--black);
    margin-top: 10px;
}

.banner button {
    background-color: var(--theme);
    border: 0;
    outline: none;
    color: #fff;
    padding: 10px 15px;
    margin-top: 20px;
    font-size: 13px;
    border-radius: 3px;
    font-weight: 600;
}
/* home style End */

/*programs style start */

.programs{
    background-color: var(--gray);
}

.programs .boxContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
}

.programs .boxContainer .box {
    background-color: #fff;
    text-align: center;
    padding-bottom: 25px;
    border-radius: 5px;
    box-shadow: 0 0 3px #c5c5c5;
    position: relative;
    margin-bottom: 15px;
}

.programs .boxContainer .box .cardImage {
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
    color: #fff;
}

.programs .boxContainer .box .cardImage:after {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    filter: grayscale(100%);
    transition: 0.4s;

}

.programs .boxContainer .box:nth-child(1) .cardImage,
.programs .boxContainer .box:nth-child(1) .cardImage:after {
    background-image: url("../img/gallery/img1.jpg");
}

.programs .boxContainer .box:nth-child(2) .cardImage,
.programs .boxContainer .box:nth-child(2) .cardImage:after{
    background-image: url("../img/gallery/img6.jpg");
}

.programs .boxContainer .box:nth-child(3) .cardImage,
.programs .boxContainer .box:nth-child(3) .cardImage:after {
    background-image: url("../img/gallery/sports/soccer2.jpg");
}

.programs .boxContainer .box:nth-child(4) .cardImage,
.programs .boxContainer .box:nth-child(4) .cardImage:after {
    background-image: url("../img/gallery/donations/smu5.jpg");
}

.programs .boxContainer .box:hover .cardImage:after {
    top:100%
}

.programs .boxContainer .box .donationCount {
    font-size: 16px;
    margin-top: 15px;
    font-weight: 600;
    color: #444;
}

.programs .boxContainer .box .donationCount {
    font-size: 13px;
    font-weight: 600;
    color: #444;
    margin-top: 10px;
}

.programs .boxContainer .box .donationCount span {
    color: var(--theme);
}

.programs .boxContainer .box button {
    position: absolute;
    left: 50%;
    background-color: var(--theme);
    color: #fff;
    transform: translate(-50%);
    bottom: -15px;
    border-radius: 60px;
    padding: 7px 15px;
    border: 0;
    outline: none;
    cursor: pointer;
}
/*programs style end*/

/* Donations style start */

.donation {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.donation .videoPlayer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.donation .sectionTitle {
    color:#fff;
    text-shadow: 0 0 4px #000;
}

.donation .donationContainer {
    position: absolute;
    background-color: #00000096;
    width: 600px;
    top: 35vh;
    color: #fff;
    text-shadow: 0 0 3px #000;
    padding: 30px;
}

.donation .donationContainer h3 {
    font-size: 35px;
    font-weight: 300;
}



.donation .donationContainer p {
    font-size: 15px;
    line-height: 20px;
    margin: 10px 0 30px;
}

.donation .donationContainer button {
    background-color: var(--theme);
    border: 0;
    color: #fff;
    padding: 10px 25px;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    cursor: pointer;
}

.donation .donationContainer button:hover{
    background-color: #2E94E3;
}

/* Donations style end */


/*Get involved style start here*/
.getinvolved {
    background-color: var(--gray);
}
/*Get involved style end here*/


/* Gallery style start here*/
.gallery {
    background-color: var(--gray);
}
.gallery .controls {
	display: flex;
	align-items: center;
	justify-content: center;
    justify-content: space-between;
	flex-wrap: wrap;
	padding: 20px 0;
	list-style: none;
}

.gallery .controls .buttons {
	height: 40px;
	width: 140px;
	background: #fff;
	color: rgb(61, 60, 60);
	font-size: 20px;
	line-height: 40px;
	cursor: pointer;
	box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
	text-align: center;
}

.gallery .controls .buttons.active {
	background: var(--theme);
	color: whitesmoke;
}

.gallery .controls .buttons:hover {
	background: var(--theme);
	color: whitesmoke;
}

.gallery .image-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
    justify-content: space-between;
}

.gallery .image-container .image {
	height: 250px;
	width: 350px;
	overflow: hidden;
	border: 15px solid #fff;
	box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    margin-bottom: 25px;
	
}

.gallery .image-container .image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.gallery .image-container .image:hover img {
	transform: scale(1.4);

}
/* Gallery style end here*/

/* Contact us style start here*/
.contactus {
    background-color: var(--gray);
}
.contactusSection {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contactInfo {
	color: #333;
	max-width: 500px;
	line-height: 65px;
	padding-left: 50px;
	font-size: 18px;
}

.contactInfo i {
	margin-right: 20px;
	font-size: 25px;
}

.contact-form{
	max-width: 700px;
	margin-right: 50px;
}

.contactInfo, .contact-form{
	flex: 1;
}

.contact-form h2{
	color: #333;
	text-align: center;
	font-size: 35px;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.contact-form .text-box {
	background: #000;
	color: whitesmoke;
	border: none;
	width: calc(50% - 10px);
	height: 50px;
	padding: 12px;
	font-size: 15px;
	border-radius: 5px;
	box-shadow: 0 1px rgba(0, 0, 0, .1);
	margin-bottom: 20px;
	opacity: 0.9;
}



.contact-form textarea {
	background: #000;
	color: whitesmoke;
    font-family: 'Poppins';
	border: none;
	width: 98%;
	padding: 12px;
	font-size: 15px;
	min-height: 200px;
	max-height: 400px;
	resize: vertical;
	border-radius: 5px;
	box-shadow: 0 1px 1px rgb(0, 0, 0,.1);
	margin-bottom: 20px;
	opacity: 0.9;
}

.contact-form .send-btn {
	float: right;
    margin-right: 14px;
	background: var(--theme);
	color: whitesmoke;
	border: none;
	width: 120px;
	height: 40px;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
	transition-property: background;
	margin-bottom: 10px;
}

.contact-form .send-btn:hover {
	background: var(--buttonColor);
}
/*Contact us style end here*/

/********* POP UP STYLing********/
.popup {
    width: 400px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);

}

.popup button {
    width: 100%;
    color:#fff;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
/* about us start */

.aboutus {
    background-color: var(--gray);
}

#aboutSection .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    position: relative;
    height: 245px;
}

#aboutSection .cards > div {
    width: 350px;
    background-color: var(--gray);
    padding: 15px;
    color: #444;
    text-align: center;
    border-radius: 7px;
    height: 225px;
    border: 1px solid var(--black);
    transition: 0.4s;
}

#aboutSection .cards > div:hover {
    width: 400px;
    margin-top: -20px;
    border-color: var(--theme);
    padding: 55px;
    height: auto;
}

#aboutSection .cards > div .title {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

#aboutSection .cards > div p {
    font-size: 14px;
    margin-top: 15px;
}

#aboutSection .cards > div button {
    border: 1px solid var(--theme);
    outline: none;
    padding: 7px 15px;
    margin-top: 15px;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
}

#aboutSection .cards > div:hover button {
    background-color: var(--theme);
    color: #fff;
    transition: 0.3s;
}

/*****************  MEET OUR TEAM ***************/
.card{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	margin: 0px 20px;
	padding: 20px 20px;
	background-color: #efefef;
	border-radius: 10px;
	cursor: pointer;
}
.card:hover{
	background-color: #333;
	text-transform: inherit;
	color: whitesmoke;
	transition: 0.4s ease;
}
.card .icon{
	font-size: 35px;
	margin-bottom: 5px;
}

.card h2{
	font-size: 28px;
	color: #c94f4f;
	margin-bottom: 20px;

}

.card p{
	font-size: 17px;
	margin-bottom: 30px;
	line-height: 1.5;
	color: #5e5e5e;
}

.row1{
	display: flex;
	flex-wrap: wrap;
	padding: 2em 1em;
	text-align: center;
	justify-content: space-between;
	
}

.column{
	width: 30%;
	padding: 2em 1em;
}

.card1{
	padding: 3em 1em;
	background: #3f4041;
	cursor: pointer;
}

.card1 .img-container{
	width: 13em;
	height: 13em;
	background-color:#a993ff;
	padding: 0.5em;
	border-radius: 50%;
	margin: 0 auto 2em auto;
}

.card1 img{
	width: 12em;
	height: 12em;
	border-radius: 50%;

}

.card1 h3{
	font-weight: 500;
	color:whitesmoke;
}

.card1 p{
	font-weight: 300;
	text-transform: uppercase;
	margin: 0.5em 0 2em 0;
	letter-spacing: 2px;
	color:whitesmoke;
	
}

.icons{
	width: 50%;
	min-width: 180px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.icons i:hover {
    color:#000;
}

.card1 a{
	text-decoration: none;
	color: inherit;
	font-size: 1.4em;
}

.card1:hover{
	background: linear-gradient(#6045ea, #8567f7);
	color:#ffffff;
}

.card1:hover .img-container{
	transform: scale(1.1);
}

/*****************  about us end****************/

/*****************  Footer style start here*/
footer {
    background-color: #181818;
    color: #7f7f7f;
    padding: 50px;
    font-size: 14px;
}

footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
}

footer .title {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 2px solid;
    margin-bottom: 30px;
    padding: 0 0 5px 0;
}

footer p {
    margin-bottom: 10px;
}

footer .linksContainer ul {
    list-style-type: none;
}

footer .linksContainer ul li a {
    text-decoration: none;
    color: #7f7f7f;
    margin-bottom: 10px;
    display: inline-block;
}

footer .newsLetterContainer img {
    height: 80px;
    margin-bottom: 11px;
}

footer .newsLetterContainer input {
    background-color: transparent;
    border: 1px solid var(--gray);
    outline: none;
    padding: 10px 15px;
    width: 100%;
    color:#ccc;
    border-radius: 10px;
}

.btn img{
	line-height: 0px;
	font-size: 26px;
	transition: 0.2s linear;
    border-radius: 5px;
}

.btn:hover img{
	transform: scale(1.2);
}
/* Footer style end here */

/* Mobile & Tablet devices screen responisiveness start*/
@media screen and (max-width: 1140px) {
    
    .container {
        width: 100%;
        padding: 0 15px;
    }

    .donation .videoPlayer {
        width: 1280px;
    }

}

@media screen and (max-width: 1080px){
    .banner h1 {
        margin-top: 200px;
    }
    #aboutSection .cards {
        justify-content: space-around;
        height: auto;
    }

    #aboutSection .cards > div {
        margin: 10px 0;
    }
}

@media screen and (max-width: 1024px){
    .banner {
        background-position-x: 45%;
    }

    .banner h1 {
        font-size: 2.5rem;
    }

    .programs .boxContainer {
        grid-template-columns: repeat(2, 1fr);
    }

    .card{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	margin: 0px 20px;
	padding: 20px 20px;
	background-color: #efefef;
	border-radius: 10px;
	cursor: pointer;
}
.card:hover{
	background-color: #333;
	text-transform: inherit;
	color: whitesmoke;
	transition: 0.4s ease;
}
.card .icon{
	font-size: 35px;
	margin-bottom: 5px;
}

.card h2{
	font-size: 28px;
	color: var(--theme);
	margin-bottom: 20px;

}

.card p{
	font-size: 17px;
	margin-bottom: 30px;
	line-height: 1.5;
	color: #5e5e5e;
}

.row1{
	display: flex;
	flex-wrap: wrap;
	padding: 2em 1em;
	text-align: center;
	justify-content: space-between;
	
}

.column{
	width: 30%;
	padding: 2em 1em;
}

.card1{
	padding: 3em 1em;
	background: #3f4041;
	cursor: pointer;
}

.card1 .img-container{
	width: 13em;
	height: 13em;
	background-color:#a993ff;
	padding: 0.5em;
	border-radius: 50%;
	margin: 0 auto 2em auto;
}

.card1 img{
	width: 12em;
	height: 12em;
	border-radius: 50%;

}

.card1 h3{
	font-weight: 500;
	color:whitesmoke;
}

.card1 p{
	font-weight: 300;
	text-transform: uppercase;
	margin: 0.5em 0 2em 0;
	letter-spacing: 2px;
	color:whitesmoke;
	
}

.icons{
	width: 50%;
	min-width: 180px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.icons i:hover {
    color:#000;
}

.card1 a{
	text-decoration: none;
	color: inherit;
	font-size: 1.4em;
}

.card1:hover{
	background: linear-gradient(#6045ea, #8567f7);
	color:#ffffff;
    transition: 4s ease;
}

.card1:hover .img-container{
	transform: scale(1.1);
    transition: 4s ease;
}



}

/*burger menu style start*/
@media screen and (max-width: 800px){
    header nav {
        position: relative;
        border: 2px solid #fff;
        height: 30px;
        width: 30px;
        margin-top: 20px;
        border-radius: 5px;
    }

    /****MEET OUR TEAM***/
    .row1{
        flex: 0 0 33.33%;
        max-width: 33.33%;
        padding: 0 1em;
        display: flex;
        flex-direction: column;
    }
    
    .column{
        flex: 0 0 33.33%;
        width: 400px;
        margin-top: 10px;
        padding: 0 1em;
        display: flex;
        flex-direction: column;
    }

/* burger menu designing start*/
    header nav:after{
        top: 17px;
    }

    header nav:before{
        top: 7px;
    }

    header nav:after, header nav:before {
        content: "";
        height: 2px;
        width: 17px;
        background-color: #fff;
        display: block;
        position: absolute;
        left: 5px;
    }
    /* burger menu designing end*/

    header nav ul {
        position: absolute;
        right: -500px;
        top: 37px;
        transition: 0.5s;
    }

    header nav:hover ul {
        right: 0;
    }

    header nav ul li {
        display: block;
    }

    header nav ul li a {
        width: 300px;
        background-color: rgba(0, 0, 0, .6);
    }

    .banner {
        background-position-x: 65%;
    }

    .banner p {
        font-size: 14px;
    }

    .banner p, .banner h1 {
        width: 70%;
    }

    #aboutSection .cards > div:hover {
        width: 350px;
    }

    

    .contactusSection{
		flex-direction: column;
	}
	.contactInfo, .contact-form{
		margin: 30px 50px;
	}

	.contact-form h2{
		font-size: 30px;
	}

	.contact-form .text-book{
		width: 100%;
	}

    #aboutSection .cards >  div:hover {
        width: 400px;
        margin-top: 10px;
        padding: 35px;
    }

    .programs .boxContainer {
        grid-template-columns: 1fr;
    }

    .donation .donationContainer {
        width: 93%;
    }

}

@media screen and (max-width: 477px) {

    footer .container {
        grid-template-columns: 1fr;
    }

    .donation .donationContainer h3 {
        font-size: 18px;
        line-height: 24px;
    }

    .banner h1 {
        margin-top: 100px;
    }
    
}


/*burger menu style end*/

/* Mobile & Tablet devices screen responisiveness end */